<div class="finish">

  <h2>Parabens, seu anuncio foi publicado e já está acessivel para outros usuarios</h2>
  <h6>Gerencie todos os seus anuncios através do seu historico</h6>
  <%= image_tag("finish.svg", width: 200) %>
</div>
