
<div class="modal fade" id="modal_term_accept" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal_term_accept" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_term_accept">Politica de privacidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Conforme as normas previstas na Lei 13.709/18, que versa sobre a proteção de dados e as demais legislações pertinentes, apresentamos a Política de Privacidade e Segurança do (coloque o nome do site/blog aqui). 
        Este documento é vinculado e integra as Condições e Termos de Uso deste site, sendo passível de alteração a qualquer momento para adequação em regras estabelecidas pelas legislações que estabelecem o modo de tratamento dos dados. 
        O acesso, visita e permanência neste site/blog é de livre escolha e acontece conforme a vontade/desejo do usuário, sendo sua visita e prosseguimento no site, escolha deste usuário. 
        Ficando ciente por meio deste documento que a partir do momento em que mantém o acesso e a permanência em qualquer uma das nossas páginas está automaticamente demonstrando estar de acordo, de forma explicita com todas as regras e termos trazidos na Política de Privacidade e Segurança descrita abaixo. 
        Sendo seu direito a qualquer momento entrar em contato conosco para maiores informações do que aqui foi descrito, bem como esclarecimento de dúvidas que possam vir a existir. 
        O site (coloque o domínio do site aqui), foi criado em (coloque a data da criação do site aqui) e é de inteira propriedade (nome da empresa), inscrita sob o CNPJ nº …  e inscrição Estadual n.º …) (caso se trate de pessoa física coloque apenas o nome completo do proprietário do site).
        Esta Política de Privacidade foi modifica em 25 de Abril de 2022, criada pelo Advogado Diego Castro, e utilizada com autorização neste site.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>