<div class="alert-error-minutes">
  <div class="message-error-minutes">
    <div class="icon-error-minutes">
      <%= image_tag('icon-error.svg')%>
    </div>
    <div class="text-error-minutes">
      <p>Complete seu cadastro ter acesso total a plataforma</p>
    </div>
  </div>
</div>