@media only screen and (max-width: 1250px)  {
  body {
    width: 1250px;
  }
}

.main {
  background: #E3E3E3;
  margin: 0;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;

  .alert {
    margin-bottom: 0;
    border: 0;
    margin-top: 72px;
    position: absolute;
    width: 100%;
  }
}

.box-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .box-wrapper{
    background: #FFF;
    width: 1000px;
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 2px;
    
    .stretch {
      align-items: stretch;
    }

    .container {
      margin: 0 auto;
      display: flex;
    }

    .item {
      flex: 1;
      margin: 5px;
      padding: 0 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .item-interest {
      flex: 1;
      margin: 5px;
      padding: 0 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
    .advertise-image-text{
      height: 410px;
    }
    
  }
}

.wrapper{
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
}

.input-data {
  width: 360px;
  height: 57px;
  border-radius: 50px;
  border: 2px solid #00BCF8;
  padding: 0 0 0 20px;
  font-size: 18px;
}

.field-input {
  padding: 0 0 20px 0;
}

.field-check {
  color: #686666;
  font-size: 14px;
  width: 360px;
  margin-bottom: 20px;

}

.new_user, .new_admin{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.btn-sign-in {
  margin-bottom: 20px;
  input[type="submit"]{
    width: 360px;
    height: 57px;
    background-color: #36F36B;
    border: none;
    border-radius: 8px;
    font-size: 18px;
  }
}

.btn-sign-up{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
  a{
    background-color: #3483FA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 360px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
  }
}

.btn-forgot-pass a{
  font-size: 18px;
  color: #147BDA;
  text-decoration: none;
  width: 360px;
}

.btn-forgot-pass{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.text-top{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header-logo{
  background: black;
  text-align: center;
  font-size: 48px;
  font-family: Roboto, sans-serif;
  .white-name{
    color:white;
  }
  .green-name{
    color: green;
  }
}

.field_with_errors {
  display: table-cell;
}

