.box-auth-home-advertise {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  .box-wrapper-home-advertise{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    a{
      text-decoration: none;
      color: black;
    }

    .item-advertise{
      width: 224px;
      height: 330px;
      background-color: #FFFF;
      box-shadow: 0px 1px 2px;
      border-radius: 5px;
    }
    .image-advertise{
      height: 227px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #AFA4A4

    }
    a:hover{
      filter: drop-shadow(2px 4px 6px black);
    }
    .card-bottom{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      height: 103px;

      .title-advertise{
        font-size: 16px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 224px;
        padding: 0 10px;
          }
      .price-advertise{
        font-size: 20px;
      }
      .info-advertise{
        width: 224px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .price-advertise{

        }
        .join-advertise{

        }
      }
    }

  }
}