<div class="wrapper">
  <div class="box-auth-room">
    <div class="box-wrapper-room">
    <div class="chat-empty">
      <%= image_tag('no_results.svg') %>
      <h5>Ops... Não encontramos nenhum resultado compativel com sua busca</h5>
      </div>
    </div>
  </div>
</div>